.root {
  -fx-width: 200;
  -fx-height: 200;
  -fx-background-color: #E5FCD0;
}

.button {
  -fx-background-color: #88C278;
  -fx-border-color: black;
  -fx-border-radius:2px;
  -fx-border-width: 2px;
  -fx-padding: 5px;
  -fx-spacing:20px;
  -fx-pref-width: 200px;
}

.text-field{
  -fx-control-inner-background: #88C278;
  -fx-border-color: black;
  -fx-border-radius:2px;
  -fx-border-width: 2px;
}

#home-button {
  -fx-background-color: #FF514E;
  -fx-pref-width: 60px;
}

#home-root{
  -fx-spacing: 10;
  -fx-padding: 10 20 10 20;
  -fx-alignment: center;
}

